
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gavryliv&Sons workflow</title>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
        <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script>
    </head>

    <body class="bg-gray-400 leading-normal tracking-normal">
        <div class="h-screen">
            <header class="flex bg-black sticky min-h-2 sm:min-h-3 top-0 z-20 w-full shadow-xl">
                <div class="flex justify-between sm:justify-center items-center w-full h-10">
                    <h1 class="text-md md:text-lg lg:text-xl box-decoration-slice bg-black text-white px-2">
                        <a href="{% url 'workflow:home' %}">Gavryliv&Sons workflow</a>
                    </h1>
                    <span class="flex text-sm md:text-md items-center text-white px-2">
                        {% if user.is_authenticated %}
                            <a  class="mdi mdi-account mr-2" href="{% url 'login' %}"> {{ user.get_username|default:"" }}</a>
                        {% endif %}
                    </span>
                </div>  
            </header>

            <div class="container mx-auto">
                {% block content %}{% endblock %}
            </div>

            <footer class="fixed bg-black min-h-15 bottom-0 z-20 w-full shadow-xl mt-20 mx-auto">
                <div class="max-w-7xl mx-auto px-10 sm:px-16 md:px-18 py-5">
                    <div class="flex flex-row justify-center items-center text-white text-xs font-bold text-center">
                        <span>Copyright of Gavryliv&Sons (2022). All rights reserved.</span>
                    </div>
                </div>  
            </footer>
        </div>

        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
              event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            })
        </script>
    </body>
</html>
