
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gavryliv&Sons workflow</title>

        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
        <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script>
    </head>

    <body class="bg-gray-600 font-mono leading-normal tracking-normal">
        <div class="h-screen">
            <header class="flex bg-black sticky min-h-2 sm:min-h-3 top-0 z-20 w-full shadow-xl">
                <div class="flex justify-center items-center w-full h-10">
                    <h1 class="text-md md:text-lg lg:text-xl box-decoration-slice bg-black text-white px-2">
                        <a href="{% url 'workflow:home' %}">Gavryliv&Sons workflow</a>
                    </h1>
                </div>  
            </header>

            <div class="container mx-auto">
                <!-- <div class="flex flex-col justify-center max-w-xs">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <div class="flex items-center bg-green-500 border-l-4 border-green-700 py-2 px-3 shadow-md mb-2">
                                    <div class="text-green-500 rounded-full bg-white mr-3">
                                        <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                                        </svg>
                                    </div>
                                    <div class="text-white max-w-xs ">{{ message }}</div>
                                </div>
                            {% endif %}
    
                            {% if message.tags == 'error' %}
                                <div class="flex items-center bg-red-500 border-l-4 border-red-700 py-2 px-3 shadow-md mb-2" >
                                    <div class="text-red-500 rounded-full bg-white mr-3">
                                        <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                                        </svg>
                                    </div>
                                    <div class="text-white max-w-xs ">{{ message }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div> -->

                {% block content %}{% endblock %}
            </div>

            <footer class="fixed bg-black min-h-15 bottom-0 z-20 w-full shadow-xl mt-20 mx-auto">
                <div class="max-w-7xl mx-auto px-10 sm:px-16 md:px-18 py-5">
                    <div class="flex flex-row justify-center items-center text-white text-xs font-bold text-center">
                        <span>Copyright of Gavryliv&Sons (2022). All rights reserved.</span>
                    </div>
                </div>  
            </footer>
        </div>

        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
              event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            })
        </script>
    </body>
</html>
