<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gavryliv&Sons workflow</title>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script>
        <style lang="css">
          .progress.htmx-request  {
              display: flex !important;
          }
          .htmx-request.progress  {
              display: flex !important;
          }
        </style>
    </head>

    <body class="bg-gray-100 leading-normal tracking-normal min-h-screen">
        <div class="min-h-screen">
          {% include "modules/header.html" %}

            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-3">
                    {% block breadcrumb %}{% endblock %}
                </ol>
            </nav>

            <div>
              <div id="msg-error" style="display: none;" class="fixed right-0 bottom-10 m-10 z-50">
                  <div class="bg-red-600 shadow-lg mx-auto w-80 md:w-96 max-w-full text-sm pointer-events-auto bg-clip-padding rounded-lg block mb-3" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="bg-red-600 flex justify-between items-center py-2 px-3 bg-clip-padding border-b border-red-500 rounded-t-lg">
                      <p class="font-bold text-white flex items-center">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle" class="w-4 h-4 mr-2 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                          <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"></path>
                        </svg>
                        Помилка на сервері 🤔
                      </p>
                      <div class="flex items-center">
                        <button onclick="document.getElementById('msg-error').style.display = 'none';"
                                type="button"
                                class="mdi mdi-close text-md w-4 h-4 ml-2 text-white border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-white hover:opacity-75 hover:no-underline" aria-label="Close"></button>
                      </div>
                    </div>
                    <div id="detail" class="p-3 bg-red-600 rounded-b-lg break-words text-white"></div>
                  </div>
              </div>

              <div id="msg-success" style="display: none;" class="fixed right-0 bottom-10 m-10 z-50">
                <div class="bg-green-600 shadow-lg mx-auto w-80 md:w-96 max-w-full text-sm pointer-events-auto bg-clip-padding rounded-lg block mb-3" role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="bg-green-600 flex justify-between items-center py-2 px-3 bg-clip-padding border-b border-green-500 rounded-t-lg">
                    <p class="font-bold text-white flex items-center">
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle" class="w-4 h-4 mr-2 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"></path>
                      </svg>
                      Сповіщення 🤗
                    </p>
                    <div class="flex items-center">
                      <button onclick="document.getElementById('msg-success').style.display = 'none';"
                              type="button"
                              class="mdi mdi-close text-md w-4 h-4 ml-2 text-white border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-white hover:opacity-75 hover:no-underline" aria-label="Close"></button>
                    </div>
                  </div>
                  <div id="detail" class="p-3 bg-green-600 rounded-b-lg break-words text-white"></div>
                </div>
            </div>

              <div class="">
                {% block content %}{% endblock %}
              </div>

              {% include 'components/progress_spinner.html' %}
            </div>
        </div>

        {% include "modules/footer.html" %}

        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
              event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            })

            document.body.addEventListener("showMessage", (e) => {
              let msg_type = e.detail.type;
              // TODO: differentiate messages

              if (msg_type == 'error') {
                  const msgElement = document.getElementById("msg-error");
                  const msgText = msgElement.querySelector('#detail');

                  msgText.innerText = e.detail.message;
                  msgElement.style.display = 'block';

                  setTimeout(function(){
                    msgElement.style.display = 'none';
                  }, 3000);
              } else if (msg_type == 'success') {
                  const msgElement = document.getElementById("msg-success");
                  const msgText = msgElement.querySelector('#detail');

                  msgText.innerText = e.detail.message;
                  msgElement.style.display = 'block';

                  setTimeout(function(){
                    msgElement.style.display = 'none';
                  }, 3000);
              }
            });

            function closeFilterPanel() {
              const filterPanel = document.getElementById("filter-panel");
              if (filterPanel) filterPanel.style.display = 'none';
              let value = false,
                  name='isOpenFilterPanel';
              document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
              document.cookie="isOpenFilterPanel="+value;
            };

            function openFilterPanel() {
              const filterPanel = document.getElementById("filter-panel");
              if (filterPanel) filterPanel.style.display = 'flex';
              let value = true,
                  name='isOpenFilterPanel';
              document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
              document.cookie= name + "=" + value;
            };

        </script>
        <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
        <style lang="css">
          body {
            font-family: 'Ubuntu', sans-serif;
          }
        </style>
    </body>
</html>
