<form hx-post="{% url 'workflow:note-create' order_id %}" id="note-form">
    {% csrf_token %}
    <label for="{{ form.note.id_for_label }}" class="text-xs md:text-sm">Нова нотатка</label>
    <textarea name="note"
              rows="5"
              required=""
              id="id_note"
              spellcheck="false"
              class="block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
    </textarea>
    <div class="text-sm text-red-500 font-regular">
        {{ form.note.errors }}
    </div>
    <div class="mt-2 flex justify-end">
      {% include 'components/buttons/add.html' %}
    </div>
</form>
