<form hx-post="{% url 'workflow:note-create' order_id %}" id="note-form">
    {% csrf_token %}
    <label for="{{ form.note.id_for_label }}" class="text-sm sm:text-base">Нова нотатка</label>
    <textarea name="note"
              rows="5"
              required="" 
              id="id_note" 
              spellcheck="false"
              class="block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
    </textarea>
    <div class="text-red-500 font-semibold">
        {{ form.note.errors }}
    </div>
    <div class="flex justify-end">
        <button type="submit"
                class="mt-2 items-center px-3 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Додати
        </button>
    </div>
</form>