{% extends "base.html" %}

{% block content %}
    <div class="max-w-2xl mt-2 mx-auto">
        <div class="relative bg-white shadow-md rounded-sm mx-2 p-2 sm:p-5">
            <span class="text-xs sm:text-sm font-bold underline">Нотатки до замовлення #{{ order_id }}</span>

            <ul class="h-96 mt-5 space-y-3 overflow-y-auto border-2 border-gray-300 rounded-md">
                {% for note in notes %}
                    <li class="flex flex-col ml-2 border-b border-gray-300">
                        <span class="text-xs sm:text-sm italic"><span class="mdi mdi-clock-outline mr-2"></span>{{ note.created_at }}</span>
                        <span class="text-xs sm:text-sm font-bold font-bold"><span class="mdi mdi-account mr-2"></span>{{ note.user }}</span>
                        <span class="ml-4 text-xs sm:text-sm">"{{ note.note }} mdi text-sm md:text-lg p-0.5 md:p-1 mdi-message-bulleted text-blue-700 rounded-full hover:bg-sky-20
                            mdi text-sm md:text-lg p-0.5 md:p-1 mdi-message-bulleted text-blue-700 rounded-full hover:bg-sky-20
                            mdi text-sm md:text-lg p-0.5 md:p-1 mdi-message-bulleted text-blue-700 rounded-full hover:bg-sky-20
                            mdi text-sm md:text-lg p-0.5 md:p-1 mdi-message-bulleted text-blue-700 rounded-full hover:bg-sky-20
                            mdi text-sm md:text-lg p-0.5 md:p-1 mdi-message-bulleted text-blue-700 rounded-full hover:bg-sky-20
                            mdi text-sm md:text-lg p-0.5 md:p-1 mdi-message-bulleted text-blue-700 rounded-full hover:bg-sky-20
                            mdi text-sm md:text-lg p-0.5 md:p-1 mdi-message-bulleted text-blue-700 rounded-full hover:bg-sky-20
                            mdi text-sm md:text-lg p-0.5 md:p-1 mdi-message-bulleted text-blue-700 rounded-full hover:bg-sky-20
                            mdi text-sm md:text-lg p-0.5 md:p-1 mdi-message-bulleted text-blue-700 rounded-full hover:bg-sky-20"</span>
                    </li>
                {% endfor %}
            </ul>
            <div hx-get="{% url 'workflow:note-create' pk=order_id %}" 
                 hx-trigger="load, changed" 
                 class="mt-3 py-3 px-3 bg-white shadow border border-gray-100">
            </div>
        </div>
    </div>
{% endblock %}