{% extends "base.html" %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'workflow:home' %}" class="text-xs md:text-sm lg:text-md">
            <span class="flex items-center mdi p-0.5 md:p-1 mdi-chevron-right text-gray-700 hover:text-gray-900">
                <span class="ml-2 font-bold">Головна</span>
            </span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <div id="order-wrapper" hx-swap-oob="true" class="mx-2">

      <div class="relative overflow-x-auto shadow-md rounded-sm mt-2 mx-2 md:mx-10" id="order-list" hx-swap-oob="true">
        <table class="w-full text-sm text-left drop-shadow-lg py-4 px-4 bg-white shadow-lg">
            <thead class="text-xs md:text-sm text-gray-800 uppercase bg-gray-200 text-center">
                <tr>
                    {% block orders_head %}
                    {% endblock %}
                </tr>
            </thead>
            <tbody>
                {% block orders_list %}
                {% endblock %}
            </tbody>
        </table>
    </div>

    {% if is_paginated %}
      {% include 'components/pagination.html' %}
    {% endif %}

  </div>
{% endblock %}
