<tr id="order_{{ order.id }}" 
    class="bg-white border-b border-gray-300 font-normal text-xs text-center h-7 md:h-10">
    <th scope="row" class="px-3 font-medium text-blue-700 whitespace-nowrap">
        #{{ order.id }}
    </th>
    <td>
        <span>
            {% if order.priority.id == 1 %}
                <span class="mdi mdi-star text-green-900"></span> 
            {% elif order.priority.id == 2 %}
                <span class="mdi mdi-star text-yellow-600"></span> 
                <span class="mdi mdi-star text-yellow-600"></span> 
            {% else %}
                <span class="mdi mdi-star text-yellow-900"></span> 
                <span class="mdi mdi-star text-yellow-900"></span> 
                <span class="mdi mdi-star text-yellow-900"></span> 
            {% endif %}
        </span>
    </td>
    <td>
        <span>{{ order.username|default:"" }}</span>
    </td>
    <td>
        <span>{% if order.stage_id == 2 %} в роботі <span class="mdi mdi-clock-outline"></span> 
                {% elif order.stage_id == 1 %} виготовлено <span class="mdi mdi-check-circle text-green-900"></span> 
                {% else %} <span class="mdi mdi-hammer-wrench"></span> 
                {% endif %}
        </span>
    </td>
    <td>
        <span class="">{{ order.model }}</span>
    </td>
    <td>
        <span class="">{{ order.configuration }}</span>
    </td>

    {% block additional_fields %}
    {% endblock %}
</tr>