{% extends "base.html" %}

{% block content %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-2 md:gap-4 justify-center px-10 md:px-10 mt-10">
        {% for log in logs %}
            <div class="py-4 px-4 md:px-6 bg-white shadow-lg rounded-lg">
                <div class="flex justify-between">
                    <h2 class="text-gray-800 text-sm lg:text-md font-regular">Замовлення #<span class="font-bold">{{ log.id }}</span></h2>
                    <h2 class="text-gray-800 text-sm lg:text-md font-regular"><span class="font-bold">{{ log.start_date|date:"SHORT_DATE_FORMAT" }}</span></h2>
                </div>
                <div class="flex flex-col mt-2">
                    <p class="text-sm lg:text-base">Конфігурація: <span class="italic font-semibold">{{ log.configuration }}</span></p>
                    <p class="text-sm lg:text-base">Шамотування:  <span class="italic font-semibold">{{ log.fireclay_type }}</span></p>
                    <p class="text-sm lg:text-base">Скління:  <span class="italic font-semibold">{{ log.glazing_type }}</span></p>
                    <p class="text-sm lg:text-base">Рама:  <span class="italic font-semibold">{{ log.frame_type }}</span></p>

                    <p class="text-xs lg:text-sm mt-2">{{ log.note }}</p>
                </div>
                <div class="flex justify-end mt-4">
                    <a href="#" class="text-xl font-medium text-indigo-500">John Doe</a>
                </div>
            </div>
        {% endfor %}
    </div>  

{% endblock %}