<tr class="bg-white {% if order.dfx_logs.last.stage.id == 1 %} bg-green-300 {% endif %} border-b border-gray-300 font-normal text-xs" id="order_{{ order.id }}">
    <th scope="row" class="px-3 font-medium text-gray-900 whitespace-nowrap">
        #{{ order.id }}
    </th>
    <td>
        <span>{{ order.dfx_logs.last.user.get_username|default:"---" }}</span>
    </td>
    <td>
        <span class="">{{ order.configuration }}</span>
    </td>
    <td>
        <span class="">{{ order.fireclay_type }}</span>
    </td>
    <td>
        <span class="">{{ order.glazing_type }}</span>
    </td>
    <td>
        <span class="">{{ order.frame_type }}</span>
    </td>
    <td>
        <span class="text-xs">{{ order.note|default:"---" }}</span>
    </td>
    <td class="px-3 flex flex-row space-x-2 items-center">
        <a href="{% url 'workflow:order-update' order.id %}" class="text-xs md:text-sm lg:text-md">
            <span class="mdi text-sm md:text-lg mdi-lead-pencil text-orange-500"></span>
        </a>
        
        {% if order.dfx_logs.last.stage.id == 2 %}
            <button hx-target="#order_{{ order.id }}"
                    hx-post="{% url 'workflow:finish-job' order.id %}"
                    hx-swap="outerHTML"
                    hx-trigger="click"
                    hx-confirm="Завершити роботу?"
                    role="button">
                <span class="mdi text-lg md:text-2xl mdi-airplane-landing text-green-700"></span>
            </button>  
        {% elif not order.dfx_logs.last.stage %}
            <button hx-target="#order_{{ order.id }}"
                    hx-post="{% url 'workflow:start-job' order.id %}"
                    hx-swap="outerHTML"
                    hx-trigger="click"
                    role="button">
                <span class="mdi text-lg md:text-2xl mdi-airplane-takeoff text-blue-700"></span>
            </button>  
        {% endif %}
    </td>
</tr>