{% extends "base.html" %}

{% block content %}
    <div class="max-w-xs md:max-w-md bg-slate-100 flex flex-col items-center mt-20 mx-auto p-3 rounded-sm">
      <h1 class="text-2xl font-regular text-gray-700 text-left">Вхід в систему</h1>

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="mt-4 flex flex-col items-center text-sm md:text-base">
                <div class="mb-4">
                    <label class="block" for="username">логін</label>
                    <input class="px-2 py-1 border border-gray-200 text-gray-600 rounded-sm focus:outline-none focus:ring-1 focus:ring-blue-600" id="username" name="username" type="text">
                </div>
                <div>
                    <label class="block" for="password">пароль</label>
                    <input class="px-2 py-1 border border-gray-200 text-gray-600 rounded-sm focus:outline-none focus:ring-1 focus:ring-blue-600" id="password" name="password" type="password">
                </div>
            </div>

            <div class="mt-5 px-5">
                {% if form.errors %}
                    <p>Ваш логін та пароль не вірні. Спробуйте ще раз.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Ваш акаунт не має доступу до цієї сторінки. Зв'яжіться з адміном.</p>
                    {% else %}
                        <p>Будь ласка, увійдіть в систему, щоб бачити цю сторінку.</p>
                    {% endif %}
                {% endif %}
            </div>

            <div class="text-center mt-5">
                <input class="bg-gray-900 hover:bg-gray-800 px-2 cursor-pointer rounded-sm text-white text-sm lg:text-lg p-2" type="submit" value="увійти">
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </form>

        <div class="mt-5">
            <p class="hover:underline">Забули пароль? Зв'яжіться з адміном!</p>
        </div>
    </div>
{% endblock %}
