<tr id="order_{{ order.id }}" class="bg-white {% if order.priority.id == 2 %} bg-orange-200 {% elif order.priority.id == 3 %} bg-red-200 {% endif %} border-b border-gray-300 font-normal text-xs text-center">
    <th scope="row" class="px-3 font-medium text-blue-700 whitespace-nowrap">
        #{{ order.order.id }}
    </th>
    <td>
        <span>{{ order.order.priority }}</span>
    </td>
    <td>
        <span>{{ order.user|default:"" }}</span>
    </td>
    <td>
        <span>{% if order.stage_id == 2 %} в роботі <span class="mdi mdi-clock-outline"></span> 
                {% elif order.stage_id == 1 %} виготовлено <span class="mdi mdi-check-circle text-green-900"></span> 
                {% else %} <span class="mdi mdi-hammer-wrench"></span> 
                {% endif %}
        </span>
    </td>
    <td>
        <span class="">{{ order.order.model }}</span>
    </td>
    <td>
        <span class="">{{ order.order.configuration }}</span>
    </td>
    <td>
        <span class="">{{ order.order.fireclay_type }}</span>
    </td>
    <td>
        <span class="">{{ order.order.glazing_type }}</span>
    </td>
    <td>
        <span class="">{{ order.order.frame_type }}</span>
    </td>
    <td>
        <span class="">{{ order.order.start_date|default:"" }}</span>
    </td>
    <td>
        <span class="">{{ order.order.deadline_date|default:"" }}</span>
    </td>
    <td>
        <div class="flex justify-center">
            <a href="{% url 'workflow:order-notes' order.order.id %}" class="text-xs md:text-sm lg:text-md">
                <span class="mdi text-sm md:text-lg p-0.5 md:p-1 mdi-message-bulleted text-blue-700 rounded-full hover:bg-sky-200">
                    <span class="ml-0.5 text-xs font-bold">{{ order.notes }}</span>
                </span>
            </a>
        </div>
    </td>
    <td>
        <div class="px-2 flex flex-row space-x-2 items-center">
            {% if order.stage_id == 2 and order.user == user %}
                <button hx-target="#order_{{ order.id }}"
                        hx-post="{% url 'workflow:switch-job' log_id=order.id stage_id=1 %}"
                        hx-swap="outerHTML"
                        hx-confirm="Завершити роботу?"
                        role="button">
                    <span class="mdi text-sm md:text-lg p-0.5 md:p-1 mdi-airplane-landing text-green-700 rounded-full hover:bg-sky-200"></span>
                </button>  
            {% elif not order.stage_id and not order.user %}
                <button hx-target="#order_{{ order.id }}"
                        hx-post="{% url 'workflow:switch-job' log_id=order.id stage_id=2 %}"
                        hx-swap="outerHTML"
                        role="button">
                    <span class="mdi text-sm md:text-lg p-0.5 md:p-1 mdi-airplane-takeoff text-blue-700 rounded-full hover:bg-sky-200"></span>
                </button>  
            {% endif %}
        </div>
    </td>
</tr>