{% extends "base.html" %}
{% load tags %}
{% load slippers %}


{% block breadcrumb %}
    <li>
        <a href="{% url 'workflow:home' %}" class="">
            <span class="flex items-center mdi p-0.5 md:p-1 mdi-chevron-right text-gray-700 hover:text-gray-900">
                <span class="ml-2">Головна</span>
            </span>
        </a>
    </li>
{% endblock %}

{% block content %}

  <div class="flex justify-end mr-10">
      <div class="flex flex-row pr-2">
        <div class="mr-2">

          <div onclick="openFilterPanel()">
            {% #primary-button %}
              <span>Фільтри</span>
              <span class="ml-2 mdi mdi-filter-variant"></span>
            {% /primary-button %}
          </div>
        </div>

        <div class="relative">
          {% #dropdown label="Додати" %}
            <a class="text-sm
                      py-2
                      px-4
                      font-normal
                      block
                      w-full
                      whitespace-nowrap
                      bg-transparent
                      text-gray-700
                      hover:bg-gray-200"
               href="{% url 'workflow:order-add' %}">
              Замовлення
            </a>
            <a class="text-sm
                      py-2
                      px-4
                      font-normal
                      block
                      w-full
                      whitespace-nowrap
                      bg-transparent
                      text-gray-700
                      hover:bg-gray-200"
               href="{% url 'admin:index' %}">
              Нові моделі
            </a>
          {% /dropdown %}
        </div>
      </div>
    </div>

    <div id="order-wrapper" hx-swap-oob="true" class="mx-2">

      <aside class="w-auto h-auto z-10 top-18 fixed"
             aria-label="Sidebar"
             id="filter-panel"
             style="display: {% if not 'isOpenFilterPanel' in request.COOKIES or request.COOKIES.isOpenFilterPanel == 'true' %} flex {% else %} none {% endif %};">
        <div class="py-4 px-2 bg-gray-50 rounded-sm shadow-md">
          <div class="flex justify-end">
            <span class="mdi mdi-close mr-2 text-xs md:text-base hover:text-black hover:bg-gray-200 rounded-lg p-1.5 cursor-pointer" onclick="closeFilterPanel()"></span>
          </div>
          <h2 class="text-base md:text-xl font-medium text-center border-b pb-2">Фільтрувати замовлення <span class="ml-2 mdi mdi-filter-variant"></span></h2>
          <form hx-get="{% url 'workflow:orders-list' %}"
                hx-target="#order-list"
                hx-swap="innerHTML"
                hx-push-url="true"
                hx-indicator=".progress">
                <div class="grid grid-cols-5 gap-0.5 md:gap-1 space-x-2 mx-auto mt-8 mb-2 text-xs md:text-sm justify-center">
                  {% for filter in filterset.form %}
                    {{ filter.errors }}
                      <div class="col-span-2 font-normal justify-self-center">{{ filter.label }}</div>
                      <div class="col-span-3">
                        {{ filter }}
                      </div>
                      {% if filter.help_text %}
                        <p class="help">{{ filter.help_text|safe }}</p>
                      {% endif %}
                  {% endfor %}
                </div>

                <div class="flex justify-end mr-10 border-t pt-2 space-x-2">
                  {% url 'workflow:orders-list' as link %}
                  {% #primary-button variant="gray" hx_get=link hx_target="#order-wrapper" hx_indicator=".progress" %}
                    <span>Скинути</span>
                  {% /primary-button %}
                  {% #primary-button type="submit" %}
                    <span>Застосувати</span>
                  {% /primary-button %}
                </div>
            </form>
        </div>
      </aside>

      <main class="relative max-h-[80vh] overflow-x-auto overflow-y-auto shadow-md rounded-sm mt-2 mx-2 md:mx-10" id="order-list" hx-swap-oob="true">
          <table class="w-full text-sm text-left drop-shadow-lg py-4 px-4 bg-white shadow-lg">
              <thead class="text-xs sticky top-0 md:text-sm text-gray-800 uppercase bg-gray-200 text-center">
                  <tr>
                      <th scope="col" class="px-3 py-1 md:py-2">Замовлення</th>
                      <th scope="col" class="px-3 py-1 md:py-2">Пріоритет</th>
                      <th scope="col" class="px-3 py-1 md:py-2">Статус</span></th>
                      <th scope="col" class="px-3 py-1 md:py-2">Модель</th>
                      <th scope="col" class="px-3 py-1 md:py-2">Конфігурація</th>
                      <th scope="col" class="px-3 py-1 md:py-2">Ціна</th>
                      <th scope="col" class="px-3 py-1 md:py-2">Оплата</th>
                      <th scope="col" class="px-3 py-1 md:py-2">Дата початку</th>
                      <th scope="col" class="px-3 py-1 md:py-2 w-10">Доставка</th>
                      <th scope="col" class="px-3 py-1 md:py-2">
                          <span class="sr-only">Actions</span>
                      </th>
                  </tr>
              </thead>
              <tbody>
                  {% for order in orders %}
                      {% include 'workflow/manager_log/order.html' %}
                  {% endfor %}
              </tbody>
          </table>
      </main>

      {% if is_paginated %}
        {% include 'components/pagination.html' %}
      {% endif %}
    </div>

{% endblock %}
