{% extends "base.html" %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'workflow:home' %}" class="text-xs md:text-sm lg:text-md">
            <span class="flex items-center mdi p-0.5 md:p-1 mdi-chevron-right text-gray-700 hover:text-gray-900">
                <span class="ml-2 font-bold">Головна</span>
            </span>
        </a>
    </li>
    <li>
        <a href="{% url 'workflow:orders' %}" class="text-xs md:text-sm lg:text-md">
            <span class="flex items-center mdi p-0.5 md:p-1 mdi-chevron-right text-gray-700 hover:text-gray-900">
                <span class="ml-1 font-bold">замовлення</span>
            </span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="max-w-2xl mt-2 mx-auto pb-20" id="models-list" hx-swap-oob="true">
        <h1 class="text-base sm:text-lg text-center font-bold mb-2">Моделі топок</h1>
        <div class="bg-white shadow-md text-sm sm:text-base rounded-sm mx-2 p-2 sm:p-5 h-2/3">
            <div class="flex mb-3"   
                 hx-get="{% url 'workflow:models' %}"
                 hx-swap="innerHTML"
                 hx-target="#models-list"
                 hx-trigger="modelsListChanged from:#model-form">
                <ul class="space-y-1 sm:space-y-2">
                    {% for model in models %}
                        <li>
                            <a href="{% url 'workflow:model-update' model.id %}">
                                <span class="px-3 text-blue-700 whitespace-nowrap">{{ model.id }}</span>
                            </a>
                            <span>{{ model.name }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% include 'workflow/model/create.html' %}
        </div>
    </div>
{% endblock %}