{% extends "workflow/log_generic/list.html" %}

{% block orders_head %}
    <th scope="col"
        class="px-3 py-1 md:py-2">
        <span class="flex justify-center items-center">
          Замовлення
          {{ ordering }}
          {% if '-id' in request.GET.order_by %}
            <span hx-get="{% url 'workflow:orders' %}?order_by=id"
                  hx-trigger="click"
                  hx-target="#order-list"
                  hx-swap="innerHTML"
                  hx-push-url="true"
                  hx-indicator=".progress"
                  style="cursor: pointer;"
                  class="mdi p-0.5 md:p-1 mdi-menu-down text-xl text-gray-700 hover:text-gray-900">
            </span>
          {% else %}
            <span hx-get="{% url 'workflow:orders' %}?order_by=-id"
                  hx-trigger="click"
                  hx-target="#order-list"
                  hx-swap="innerHTML"
                  hx-push-url="true"
                  hx-indicator=".progress"
                  style="cursor: pointer;"
                  class="mdi p-0.5 md:p-1 mdi-menu-up text-xl text-gray-700 hover:text-gray-900">
            </span>
          {% endif %}
        </span>
    </th>
    <th scope="col" class="px-3 py-1 md:py-2">
      <span class="flex justify-center items-center">
      Пріоритет
      {% if '-priority' in request.GET.order_by %}
        <span hx-get="{% url 'workflow:orders' %}?order_by=priority"
              hx-trigger="click"
              hx-target="#order-list"
              hx-swap="innerHTML"
              hx-push-url="true"
              hx-indicator=".progress"
              style="cursor: pointer;"
              class="mdi p-0.5 md:p-1 mdi-menu-down text-xl text-gray-700 hover:text-gray-900">
        </span>
      {% else %}
        <span hx-get="{% url 'workflow:orders' %}?order_by=-priority"
              hx-trigger="click"
              hx-target="#order-list"
              hx-swap="innerHTML"
              hx-push-url="true"
              hx-indicator=".progress"
              style="cursor: pointer;"
              class="mdi p-0.5 md:p-1 mdi-menu-up text-xl text-gray-700 hover:text-gray-900">
        </span>
      {% endif %}
      </span>
    </th>
    <th scope="col" class="px-3 py-1 md:py-2">Виконувач</th>
    <th scope="col" class="px-3 py-1 md:py-2">Статус</span></th>
    <th scope="col" class="px-3 py-1 md:py-2">Модель</th>
    <th scope="col" class="px-3 py-1 md:py-2">Конфігурація</th>
    <th scope="col" class="px-3 py-1 md:py-2">Шамотування</th>
    <th scope="col" class="px-3 py-1 md:py-2">Скління</th>
    <th scope="col" class="px-3 py-1 md:py-2">Рама</th>
    <th scope="col" class="px-3 py-1 md:py-2">Дата завершення</th>
    <th scope="col" class="px-3 py-1 md:py-2">Поточний етап</th>
    <th scope="col" class="px-3 py-1 md:py-2">Нотатки</th>
    <th scope="col" class="px-3 py-1 md:py-2">
        <span class="sr-only">Actions</span>
    </th>
{% endblock %}

{% block orders_list %}
     {% for order in orders %}
        {% include 'workflow/dxf_log/order.html' %}
    {% endfor %}
{% endblock %}
