{% extends "workflow/log_generic/order.html" %}

{% block additional_fields %}
    <td>
        <span class="">{{ order.fireclay_type }}</span>
    </td>
    <td>
        <span class="">{{ order.glazing_type }}</span>
    </td>
    <td>
        <span class="">{{ order.frame_type }}</span>
    </td>
    <td>
        <span class="">{{ order.deadline_date|default:"" }}</span>
    </td>
    <td>
        <span class="">{{ order.current_stage|default:"Очікує виконання" }}</span>
    </td>
    <td>
        <div class="flex justify-center">
            <a href="{% url 'workflow:order-notes' order.id %}" class="text-xs md:text-sm lg:text-md">
                <span class="mdi text-sm md:text-lg p-0.5 md:p-1 mdi-message-bulleted text-blue-700 rounded-full hover:bg-sky-200">
                    <span class="ml-0.5 text-xs font-bold">{{ order.notes_count }}</span>
                </span>
            </a>
        </div>
    </td>
    <td>
        <div class="px-2 flex flex-row space-x-2 items-center">
            {% if order.stage_id == 2 and order.username == user.username %}
                <button hx-target="#order_{{ order.id }}"
                        hx-post="{% url 'workflow:switch-job' order_stage_id=order.order_stage_id stage_id=1 %}"
                        hx-swap="outerHTML"
                        hx-confirm="Завершити роботу?"
                        role="button">
                    <span class="mdi text-sm md:text-lg p-0.5 md:p-1 mdi-airplane-landing text-green-700 rounded-full hover:bg-sky-200"></span>
                </button>
            {% elif not order.stage_id and not order.username %}
                <button hx-target="#order_{{ order.id }}"
                        hx-post="{% url 'workflow:switch-job' order_stage_id=order.order_stage_id stage_id=2 %}"
                        hx-swap="outerHTML"
                        hx-confirm="Взяти в роботу?"
                        role="button">
                    <span class="mdi text-sm md:text-lg p-0.5 md:p-1 mdi-airplane-takeoff text-blue-700 rounded-full hover:bg-sky-200"></span>
                </button>
            {% endif %}
            <a href="{% url 'workflow:order-update' order.id %}" class="text-xs md:text-sm lg:text-md">
                <span class="mdi text-sm md:text-lg p-0.5 md:p-1 mdi-pencil-outline text-blue-700 rounded-full hover:bg-sky-200">
                </span>
            </a>
        </div>
    </td>
{% endblock %}
